.form-section {
  padding: 25px 0px;
}

.login-logo-styling {
  max-height: 100px;
  max-width: 100px;
  filter: invert(40%) sepia(11%) saturate(5023%) hue-rotate(204deg)
    brightness(95%) contrast(87%);
  transition: all 0.2s ease-in-out !important;
}
.main-title {
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Catamaran', sans-serif !important;
}

.login-container {
  display: flex;
  justify-content: center;
}

.login-inner-container {
  top: 20%;
  position: absolute;
  padding: 30px;
  width: 400px;
}

.login-text-field-styling {
  min-width: 300px !important;
}

.sub-title {
  font-family: 'Catamaran', sans-serif !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: black;
  text-align: center;
}

.inner-body {
  width: 100%;
  margin: 25px auto 50px;
  position: relative;
}

.form-header {
  position: relative;
  margin-bottom: 20px;
}

.form-title {
  font-family: 'Catamaran', sans-serif !important;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #273469;
  margin-bottom: 8px;
  position: relative;
}
.form-subtitle {
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #273469;
  margin-bottom: 0px;
}

.form-label {
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #787878;
}

.error-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ff0a0a;
  margin: 0px;
  position: absolute;
  padding-bottom: 2rem;
}
.login-password-main {
  margin-top: 15px;
}
