.content-img {
  height: 100px;
}

.img-box {
  max-width: 120px;
  max-height: 120px;
  display: block;
  margin-right: 50px;
  text-align: center;
}

.img-box p {
  color: #2a3b8f !important;
  font-weight: 600;
}

.img-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.side-drawer > div {
  overflow: hidden;
  margin-top: 48px;
}
.drawer-close > div {
  transition: all 0.3s ease-in-out !important;
  width: 60px;
}

.drawer-open > div {
  width: 160px;
  transition: all 0.3s ease-in-out !important;
}

.main-container {
  max-height: 100vh;
  overflow: hidden;
}

.homepage-container {
  margin-left: 70px;
  padding-right: 30px;
  overflow: auto;
  max-height: 100vh;
  padding-bottom: 60px;
  transition: all 0.3s ease-in-out !important;
}
.homepage-container-open {
  margin-left: 170px;
  padding-right: 30px;
  overflow: auto;
  max-height: 100vh;
  padding-bottom: 60px;
  transition: all 0.3s ease-in-out !important;
}
