.content-img {
  height: 100px;
}

.img-box {
  max-width: 120px;
  max-height: 120px;
  display: block;
  margin-right: 50px;
  text-align: center;
}

.img-box p {
  color: #2a3b8f !important;
  font-weight: 600;
}

.img-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.side-drawer > div {
  overflow: hidden;
  margin-top: 48px;
}
.drawer-close > div {
  transition: all 0.2s ease-in-out !important;
  width: 60px;
}

.drawer-open > div {
  width: 160px;
  transition: all 0.2s ease-in-out !important;
}

.main-container {
  max-height: 100vh;
  overflow: hidden;
}

.homepage-container {
  margin-left: 70px;
  padding-right: 30px;
  overflow: auto;
  max-height: 100vh;
  padding-bottom: 60px;
  transition: all 0.2s ease-in-out !important;
}
.homepage-container-open {
  margin-left: 170px;
  padding-right: 30px;
  overflow: auto;
  max-height: 100vh;
  padding-bottom: 60px;
  transition: all 0.2s ease-in-out !important;
}
.list-item-container {
  flex-direction: row !important;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px !important;
  cursor: pointer;
}
.list-item-selected {
  background-color: rgb(231, 233, 243) !important;
  border-left: 3px solid rgb(86, 100, 210) !important;
  padding-left: 15px !important;
}
.list-item-container:hover .drawer-list-label {
  color: rgb(86, 100, 210) !important;
}
.drawer-list-label {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #666666 !important;
  font-family: 'Catamaran', sans-serif !important;
}

.drawer-list-label-selected {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: rgb(86, 100, 210) !important;
  font-family: 'Catamaran', sans-serif !important;
}
.drawer-list-label-selected.MuiListItem-root {
  background-color: rgba(252, 230, 230, 0.6) !important;
  border-left: 3px solid rgb(86, 100, 210) !important;
}

.drawer-list-label-selected .MuiListItemText-root span {
  background-color: rgba(252, 230, 230, 0.6) !important;
}
.drawer-label-icon svg {
  max-width: 16px;
  margin-bottom: 6px !important;
}
.list-item-container:hover .drawer-label-icon svg {
  filter: invert(40%) sepia(11%) saturate(5023%) hue-rotate(204deg)
    brightness(95%) contrast(87%);
}
.list-item-selected .drawer-label-icon svg {
  filter: invert(40%) sepia(11%) saturate(5023%) hue-rotate(204deg)
    brightness(95%) contrast(87%);
}
.logo-styling {
  max-height: 100px;
  max-width: 100px;
  filter: invert(40%) sepia(11%) saturate(5023%) hue-rotate(204deg)
    brightness(95%) contrast(87%);
  transition: all 0.2s ease-in-out !important;
}
.closed-logo-styling {
  max-height: 50px;
  max-width: 50px;
  filter: invert(40%) sepia(11%) saturate(5023%) hue-rotate(204deg)
    brightness(95%) contrast(87%);
  transition: all 0.2s ease-in-out !important;
}
.skeleton-container{
  width: 100%;
  margin-top: -30px !important;
  height:100% !important;
}