.app-btn-theme {
  background-color: #eff6fc !important;
  color: #0b253c;
  box-shadow: none;
  border-color: transparent;
  min-width: 140px !important;
  border-radius: 5px;
  font-family: 'Catamaran', sans-serif !important;
  border: 1px solid transparent;
  padding: 9px 15px !important;
  transition: .3s ease;
  cursor: pointer;
  font-size: 13px;
  border: none !important;
  outline: none !important;
}

.app-btn-theme:hover {
  background-color: #287cc5 !important;
  box-shadow: 0px 2px 5px #eff6fc;
  color: #fff;
  outline: none !important;
  border: 1px solid transparent;
}

.app-btn-theme:focus {
  outline: none !important;
  border: none !important;
}


.app-btn-theme:disabled,
.app-btn-theme:disabled:hover {
  background: #e5e5e5;
  color: #787878;
  text-decoration: none;
  opacity: 1;
  border: none !important;
}