.link-styling {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f5f9ff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #042038 !important;
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #024682 !important;
}